.credits-col {
    display: flex;
    flex-flow: column;
    width: fit-content;
}

.credit, .credit-link, .credit-link:hover {
    color: white;
}

.credit-link {
    margin-bottom: 16px;
}

#credits-root {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}