@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p, .menu-link, a {
  font-family: 'Source Code Pro', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
}

.modal-view {
  width: 100vw;
  height: 105vh;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.icon-btn, .icon-btn:visited {
  color: black;
  background-color: rgba(255, 255, 255, 0);
  fill: rgba(255, 255, 255, 0);
  stroke: rgba(255, 255, 255, 0);
  border: 0;
  text-align: center;
  margin: 0px;
  width: 44px;
  height: 44px;
  padding: 0px;
}

.menu-btn {
  position: absolute;
  top: 20px;
  right: 30px
}

.modal-open {
  visibility: visible;
  opacity: 1;
  transition: opacity .25s;
}

.modal-closed {
  visibility: hidden;
  opacity: 0;
  transition: opacity .25s, visibility 0s .25s;
}

.modal-close-btn {
  color: black;
  position: absolute;
  top: 20px;
  right: 30px;
}

.menu-link, .menu-link:visited {
  color: black;
  font-size: 16px;
  transition: color .1s;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover, .icon-btn:hover, .email:hover {
  color: rgba(150, 150, 150, 1)
}

.fullscreen-row, .fullscreen-col {
  height: 100vh;
}

.art {
  margin-top: 20px;
}

.blackout {
  background-color: black;
}

.blackout-text {
  color: black;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-display {
  margin-left: -12px;
  margin-right: -12px;
}

.navbar {
  padding-top: 30px !important;
  padding-left: 30px !important
}

@media (max-device-width: 800px){
  .image-description, .carousel-count{
    font-size: 12px;
  }
}

@media (min-device-width: 800px){
  .image-description, .carousel-count {
    font-size: 16px;
  }
}

.clickable:hover {
  cursor: pointer;
}

.fullscreen-image {
  display: block;
  margin: auto;
  width: 85vw;
  max-height: 85vh;
  max-width: 85vw;
  object-fit: contain;
}

.fade-in-start {
  opacity: 0;
}

.fade-in-end {
  opacity: 1;
  transition: opacity .75s;
}

.admin-media-display {
  height: 200px;
  object-fit: contain;
}

.fit-content {
  width: fit-content !important;
  block-size: fit-content !important;
}

.carousel-count {
  text-align: center;
}
.contact-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.email, .email:visited {
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
  color: black
}

.instagram-button {
  font-size: 24px;
}

.instagram-row {
  text-align: center;
}

.carousel-btn-col {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: fit-content !important;
  padding: 0px !important;
}

.carousel-btn-col-prev {
  margin-left: -24px;
}

.carousel-btn-col-next {
  margin-right: -24px;
}

.upload-footer-row {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.carousel-items-row {
  display: flex;
  flex-flow: row;
  height: 100px;
  overflow-x: scroll;
  white-space: nowrap;
}

.admin-carousel-item {
  display: inline-block;
  float: none;
  padding-right: 10px;
}

.admin-carousel-item img, .admin-carousel-item video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}