@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-x: hidden;
}

h1, p, .menu-link {
  font-family: 'Source Code Pro', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu {
  width: 100vw;
  height: 105vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0px;
  left: 0px;
}

.icon-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  font-size: 1.25em;
  text-align: center;
  margin: 0px;
  width: 44px;
  height: 44px;
  padding: 0px;
}

.menu-open {
  background-color: rgba(255, 255, 255, 1);
  visibility: visible;
}

.menu-closed {
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
}

.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
}

.menu-btn {
  position: absolute;
  top: 20px;
  right: 30px;
}

.menu-link, .menu-link:visited {
  color: black;
  font-size: 1em;
  transition: color .1s;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover {
  color: rgba(150, 150, 150, 1)
}

.menu-row {
  height: 100vh;
}

.gallery {
  margin-top: 80px;
}

.blackout {
  background-color: black;
}

.blackout-text {
  color: black
}

.blackout-text:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}