.side-line {
    position: absolute;
    background-color: var(--bs-body-color);
    width: 1px;
    height: calc(100vh + 100px);
    top: 70px;
}

.side-line.stick {
    position: fixed !important;
    top: -50px !important;
}

.text-display.other {
    max-width: 60vw;
    margin-left: 85px;
}

@media (max-width:600px) {
    .desktop-only {
        display: none;
    }

    .media-display-left {
        margin-left: 70px;
        margin-left: 70px;
    }
}