@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.page {
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-body-bg);
    overflow-y: hidden;
    overflow-x: hidden;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position:absolute;
    object-position: bottom right;
    z-index: 1;
    filter: brightness(2);
}

.textbox {
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 2;
}

.textbox p, .textbox a, .textbox a:hover, .textbox a:visited {
    font-size: clamp(36px, 2.5vw, 2.5vw);
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(255, 255, 160);
    font-weight: 800;
}

.textbox a {
    text-decoration: underline;
}