body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}

.icon-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  font-size: 1.5em;
}

.menu-open {
  background-color: rgba(255, 255, 255, 1);
  visibility: visible;
}

.menu-closed {
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
}

.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}